.container-geral {
  position: fixed;
  bottom: 80px;
  right: 30px;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 500;
}

.container-defazer {
  padding: 10px 15px;
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--surface-800);
  opacity: 0.9;
  border-radius: 12px;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),
    0 6px 10px 0 rgba(0,0,0,.14),
    0 1px 18px 0 rgba(0,0,0,.12);
    color: #ffffff;
}

.barra-divisao {
  display: block;
  background-color: #ffffff;
  width: 2px;
  height: 30px;
  margin: 0 20px;
  border-radius: 1px;
  opacity: 0.5;
}

@media screen and (max-width: 575px) {
  .container-geral {
    position: fixed;
    bottom: 80px;
    right: 0px;
    max-width: 100%;
    width: 100%;
    padding: 0px 25px;
  }
}
