<div class="container card">
  <div class="p-grid p-jc-center p-ai-center">
    <div class="p-col-12 p-md-11 p-grid p-jc-between p-ai-center p-py-3">
      <div>
        <h2>Histórico</h2>
      </div>
      <div>
        <button pButton class="p-button-danger" icon="pi pi-trash" label="Limpar todo histórico"> </button>
      </div>
    </div>
    <div class="conteudo-historico p-col-12 p-grid p-jc-center">
      <div class="p-col-12 p-md-11 card-historico p-grid p-jc-center p-jc-sm-between p-ai-center">
        <div class="p-col-10 p-grid container-informacao p-flex-wrap">
          <div class="container-inicial p-col-12 p-sm-5">
            <div>Binária:</div>
            <div class="fonte-numero numero">101111111101111111101111111101111111101111111</div>
          </div>
          <div class="p-as-center p-col-12 p-sm-2 p-text-center">
            <i class="pi pi-arrow-right icone-flecha"></i>
          </div>
          <div class="container-final p-col-12 p-sm-5">
            <div>Hexadecimal:</div>
            <div class="fonte-numero numero">17FBFDFEFF7F</div>
          </div>
        </div>
        <div class="p-col-2 p-sm-2 p-md-1 p-grid p-jc-center">
          <button pButton pRipple type="button"
            class="p-button-rounded p-button-danger" icon="pi pi-times"
            pTooltip="Remover" tooltipPosition="top"></button>
        </div>
      </div>
    </div>
  </div>
</div>
