<div class="container">
  <form>
    <div class="p-grid p-jc-center p-ai-center card">
      <div class="p-col-12 p-text-center">
        <h1>Conversor de Bases Numéricas</h1>
      </div>
      <div class="p-col-5 p-fluid p-grid">
        <div class="p-col-12 p-fluid">
          <p-dropdown placeholder="Selecione a base inicial"></p-dropdown>
        </div>
        <div class="p-col-12 p-fluid p-field">
          <label for="valorInicial">Valor na base inicial:</label>
          <input pInputText type="text" id="valorInicial">
        </div>
      </div>
      <div class="p-col-1 p-fluid p-field">
        <i class="pi pi-arrow-right icone-flecha"></i>
      </div>
      <div class="p-col-5 p-fluid p-grid">
        <div class="p-col-12 p-fluid">
          <p-dropdown placeholder="Selecione a base desejada"></p-dropdown>
        </div>
        <div class="p-col-12 p-fluid p-field">
          <label for="valorFinal">Valor na base desejada:</label>
          <input pInputText type="text" id="valorFinal">
        </div>
      </div>
      <div class="p-col-2 p-fluid">
        <button pButton type="submit" label="Converter"></button>
      </div>
    </div>
  </form>
</div>
