<div class="container">
  <form autocomplete="off" [formGroup]="formulario" (ngSubmit)="converter()">
    <div class="p-grid p-jc-center p-ai-center card">
      <div class="p-col-12 p-text-center">
        <h1>Conversor de Bases Numéricas</h1>
      </div>
      <div class="p-md-5 p-fluid p-grid">
        <div class="p-col-12 p-fluid p-field">
          <label>De:</label>
          <p-dropdown [options]="tiposDeBases" placeholder="Selecione a base inicial"
            formControlName="baseInicial"></p-dropdown>
        </div>
        <div class="p-col-12 p-fluid p-field">
          <label for="valorInicial">Valor na base {{ formulario.get('baseInicial')?.value || 'inicial'}}:</label>
          <input pInputText type="text" id="valorInicial"
            formControlName="valorInicial">
        </div>
      </div>
      <div class="p-col-1 p-fluid p-field">
        <i class="pi pi-arrow-right icone-flecha"></i>
        <i class="pi pi-arrow-down icone-flecha"></i>
      </div>
      <div class="p-md-5 p-fluid p-grid">
        <div class="p-col-12 p-fluid p-field">
          <label>Para:</label>
          <p-dropdown [options]="tiposDeBases" placeholder="Selecione a base desejada"
            formControlName="baseFinal"></p-dropdown>
        </div>
        <div class="p-col-12 p-fluid p-field">
          <label for="valorFinal">Valor na base {{ formulario.get('baseFinal')?.value || 'desejada'}}:</label>
          <input pInputText type="text" id="valorFinal"
            formControlName="valorFinal" >
        </div>
      </div>
      <div class="p-col-12 p-d-flex p-jc-center">
        <button pButton type="submit" label="Converter"
          [disabled]="formulario.invalid"></button>
      </div>
    </div>
  </form>
</div>
