:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

p-sidebar,
p-toast,
app-desfazer {
  position: absolute;
}

.conteudo {
  padding: 20px;
}

.container-opcao {
  margin-bottom: 30px;
}

.titulo-opcao {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.1rem;
}
