<header>
  <div class="container menu">
    <a (click)="exibirSideBar = true">
      <i class="pi pi-bars" aria-label="Opções"></i>
    </a>
  </div>
</header>
<p-sidebar [(visible)]="exibirSideBar" position="right">
  <div class="p-fluid">
    <p class="titulo-opcao">Histórico:</p>
    <p-toggleButton [(ngModel)]="historico" (onChange)="toggleHistorico()" onLabel="Habilitado" offLabel="Desabilitado" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width': '100%'}"></p-toggleButton>
  </div>
</p-sidebar>
