.card-historico {
  margin: 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .15),
      1px 1px 5px 1px rgba(0, 0, 0, .1);
  margin-bottom: 10px;
}

.container-informacao {
  margin: 0;
}

.container-inicial,
.container-final {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px 0 10px;
}

.numero {
  word-wrap: break-word;
  font-size: 1.18rem;
  color: var(--text-color);
}

.nome-base {
  color: var(--text-color-secondary);
}

.icone-flecha {
  transition: all 0.3s ease-in-out;
  color: var(--primary-color);
}

@media screen and (max-width: 575px) {
  .icone-flecha {
    transform: rotate(90deg);
  }
  .container-informacao {
    text-align: center;
  }
}
