<div class="container card">
  <form autocomplete="off" [formGroup]="formulario" (ngSubmit)="converter()">
    <div class="p-grid p-jc-center p-ai-start">
      <div class="p-col-12 p-text-center">
        <h1>Conversor de Bases Numéricas</h1>
      </div>
      <!-- Container Base Inicial -->
      <div class="p-col-12 p-md-5 p-grid">
        <div class="p-col-12 p-fluid p-field">
          <label>De:</label>
          <p-dropdown [options]="tiposDeBases" placeholder="Selecione a base inicial"
            formControlName="baseInicial" (onChange)="ouvinteDropdownBaseInicial($event)"></p-dropdown>
        </div>
        <div class="p-col-12 p-fluid p-field">
          <label for="valorInicial">Valor na base {{ baseInicial || 'inicial'}}:</label>
          <input pInputText class="fonte-numero" type="text" id="valorInicial"
            formControlName="valorInicial">
          <p-message *ngIf="formulario.get('valorInicial')?.hasError('required') && formulario.get('valorInicial')?.dirty" severity="error" text="Informe um valor"></p-message>
          <p-message *ngIf="formulario.get('valorInicial')?.hasError('pattern') && formulario.get('valorInicial')?.dirty" severity="error" text="O valor deve ser positivo e na base {{ formulario.get('baseInicial')?.value }}"></p-message>
        </div>
      </div>
      <!-- Container Botão Inverter Seleção -->
      <div class="p-col-2 p-md-2 p-lg-1 p-field p-as-center container-botao-inverter">
        <button pButton class="p-button-success p-button-text botao-flechas"
          [attr.habilitado]="basesForamSelecionadas"
          pTooltip="Inverter seleção" tooltipPosition="top"
          type="button" (click)="inverterSelecao()"
          [disabled]="!basesForamSelecionadas" [tooltipDisabled]="!basesForamSelecionadas">
            <div class="agrupador-flechas">
              <i class="pi pi-arrow-right"></i>
              <i class="pi pi-arrow-left"></i>
            </div>
        </button>
      </div>
      <!-- Container Base Final -->
      <div class="p-col-12 p-md-5 p-grid">
        <div class="p-col-12 p-fluid p-field">
          <label>Para:</label>
          <p-dropdown [options]="tiposDeBases" placeholder="Selecione a base desejada"
            formControlName="baseFinal" (onChange)="ouvinteDropdownBaseFinal($event)"></p-dropdown>
        </div>
        <div class="p-col-12 p-fluid p-field">
          <label for="valorFinal">Valor na base {{ baseFinal || 'desejada'}}:</label>
          <input pInputText class="fonte-numero" type="text" id="valorFinal"
            formControlName="valorFinal" >
        </div>
      </div>
      <!-- Container Botão Converter -->
      <div class="p-col-12 p-d-flex p-jc-center">
        <button pButton type="submit" [label]="convertendo ? 'Convertendo' : 'Converter'"
          [disabled]="formulario.invalid || convertendo">
        </button>
      </div>
    </div>
  </form>
</div>
