h1 {
  font-weight: 400;
}

label {
  font-size: 1rem;
  font-weight: normal;
}

h1, label {
  color: var(--text-color);
}

.container-botao-inverter {
  display: flex;
  justify-content: center;
  align-items: center;
}
