h1 {
  font-weight: 300;
}

label {
  font-size: 1rem;
  font-weight: normal;
}

.agrupador-flechas i{
  font-size: 1.2rem;
  margin: 3px;
}

.flechas-horizontais {
  display: flex;
  flex-direction: column;
}

.flechas-verticais {
  display: none;
}

@media screen and (max-width: 767px) {
  .flechas-horizontais {
    display: none;
  }

  .flechas-verticais {
    display: flex;
    flex-direction: row;
  }
}
