html, body {
  width: 100%;
  min-height: 100%;
  height: 100%;
  margin: 0;
  overflow: auto;
}

body {
  background: var(--surface-b);
}

body,
body .p-component,
body .p-inputtext{
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body .p-inputtext.fonte-numero {
  font-size: 1.2rem;
  line-height: 1.57rem;
}

app-side-bar,
app-footer,
app-formulario-conversor,
app-historico-conversor,
app-card-historico {
  display: block;
}

.container {
  max-width: 940px;
  margin: 20px auto;
}

.card {
  background: var(--surface-a);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

body .p-inputtext.fonte-numero,
.fonte-numero {
  font-family: 'Ubuntu Mono', monospace;
}
